{% extends "::base.html.twig" %}
{% block body %}
  <div class="row">
    <div class="well">
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}
      <div class="form-group">
        {{ form(form) }}
      </div>

        {{ form_end(form) }}

    </div>
  </div>

{% endblock %}
