{% extends "::base.html.twig" %}
{% block body %}


    <video controls src="{{ asset('/uploads/videos/cours/' ~ video.nom) }}" title="{{ video.nom }}"></video>
    <h1>{{ video.nom }}</h1>
    <h2>Description</h2>
    <p>{{ video.nom }}</p>


{% endblock %}
