{% extends "::base.html.twig" %}
{% block body %}


    <video controls  title="{{ video.video }}">
      <source src="{{ asset('/uploads/video/cours/' ~ video.video) }}" type="rtmp/flv">
    </video>
    <h1>{{ video.nom }}</h1>
    <h2>Description</h2>
    <p>{{ video.nom }}</p>


{% endblock %}
