<h3>C'est fait! Vous avez un compte</h3>

Bonjour {{ name }}! Votre compte a été créé!

{# example, assuming you have a route named "login" #}
Pour vous connectez cliquer <a href="{{ url('login') }}">ici</a>.

Merci!

{# Makes an absolute URL to the /images/logo.png file #}
{#<!--<img src="{{ absolute_url(asset('images/logo.png')) }}">-->#}
